* text=auto

*.ps1 text eol=crlf
*.bat text eol=crlf
*.sh text eol=lf
*.rs text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.etl binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
